/*для главное страницы*/

* {
    box-sizing: border-box;
}


.body {
    background-color: rgb(47, 79, 79);
}

.level {
    font-size: 0;
}

.T {
    display: none;
}

.canvas__next.T1>.T1 {
    display: block;
}

.canvas__next.T2>.T2 {
    display: block;
}

.canvas__next.T3>.T3 {
    display: block;
}

.canvas__next.T4>.T4 {
    display: block;
}

.canvas__next.T5>.T5 {
    display: block;
}

.canvas__next.T6>.T6 {
    display: block;
}

.canvas__next.T7>.T7 {
    display: block;
}

.canvas__next.T8>.T8 {
    display: block;
}


.block {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.block__top {
    border-bottom: none;
}

.block__left {
    border-right: none;
}

.zero {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
}

.canvas__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.canvas__info {
    padding: 1px 20px;
    min-width: 150px;
    font-size: 20pt;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);

}

.canvas__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
}


.start {
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(119, 136, 153);
}


.nickname {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.score{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.controls{
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#canvas { /*игровое поле*/
    border: 2px solid black;
    margin: 0 50px;
    background-color: #000;
}


.popup__records {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.popup__wrapper {
    padding: 20px 60px;
    text-align: center;
    background-color: rgb(119, 136, 153);
    border-radius: 4px;
}

.popup__gameover {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.popup__table {
    padding: 0px 20px;
    background: #fff;
}

.popup__table-item {
    padding: 10px 20px;
    max-height: 500px;
    overflow: auto;
}

.popup__name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;

}

.popup__name>span {
    margin-right: 5px;
}

.popup__score {
    font-size: 30px;
}

.popup__table-item>li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
}

.popup__table-item>li:last-child {
    margin-bottom: 0;
}

.popup__you {
    color: rgb(0, 0, 0);
}

.popup__btn { /*В меню*/
    font-size: 20px;
    border: none;
    border-radius: 4px;
}
