doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/styles/menu.min.css")
        title Меню администратора
    body.body
        .container 
            h1.menu__title.title Аукцион картин
            a.btn.menu__btn(href="gallery") Галерея
            a.btn.menu__btn(href="participants") Список участников
            a.btn.menu__btn(href="properties") Параметры
            