* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus,
:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 10px;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
}

.title {
    text-align: center;
    font-size: 32px;
    color: #000;
}

.subtitle{
    text-align: center;
    font-size: 24px;
    color: #000;
}


.link, .btn{
    display: block;
    font-family: Roboto;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    background-color: rgb(248, 248, 255);
    border: 2px solid rgb(105, 105, 105);
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.btn:disabled{
    background-color:rgba(51, 51, 51, .6);
}

.wrapper{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
}

.label{
    font-weight: 700;
}